#sidebar {
    padding: 2rem 1rem;
    background-color: #2B3E50;
}

#page-content {
    position: relative;
    color: var(--dark);
}

@media (min-width: 48em) {
    #sidebar {
        position: fixed;
        overflow-y: auto;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20rem;
    }

    #page-content {
        margin-left: 20em;
    }
}

p#cycle-length {
    font-size: 20px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

p#computation-time {
    font-size: 20px;
    padding: 20px;
    position: absolute;
    top: 25px;
    right: 0;
}

#distance-select {
    margin-bottom: 20px;
}

h3 {
    padding: 10px 0 10px 0;
}

h4 {
    padding: 15px 0 5px 0;
}

#nb-cities-slider {
    margin-bottom: 15px;
}

.rc-slider-track {
    background-color: var(--primary);
}

.rc-slider-handle-click-focused:focus,
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover {
    border: 2px solid var(--primary);
}

.rc-slider-dot-active {
    border-color: var(--primary);
}

.input-group {
    margin: 5px 0;
}

p.lead {
    margin-bottom: 0.5rem;
}

.btn-group {
    width: 100%;
}